/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.gameBoard {
  width : 1000px;
  height: 500px;
  border: 5px solid black;
}
